@import '../../libs/variables.scss';

.myPrints {
  .header {
    background-color: $dark;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 70px 20px 70px;
    width: 100%;
    color: $white;
  }

  .filtersWrapper {
    flex: 1;
    padding: 30px 70px;
    position: relative;

    .filters {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      .left {
        display: flex;

        .inputContainer {
          align-items: center;
          background-color: $white;
          border: 1px solid $light-periwinkle;
          border-radius: 6px;
          display: flex;
          height: 52px;
          min-width: 350px;
          padding: 10px 15px;
          position: relative;

          svg {
            margin-right: 5px;
          }

          input {
            background: none;
            border: none;
            height: 100%;
            width: 100%;

            &:placeholder {
              color: $light-gray;
            }
          }
        }
      }

      .filtersButton {
        background-color: $white;
        border-color: $light-periwinkle;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: none;
        color: $dark-gray;
        height: 52px;
        margin-left: 10px;
        padding: 5px 35px;
      }
    }

    .attendancesGrid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 30px 0;
    }
  }

  .printsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 52px 70px;

    .cardPlaceholder {
      background-color: white;
      border-radius: 4px;
      padding-bottom: 10px;
      padding-top: 24%;
      position: relative;
      width: 24%;
    }

    .imageContainer {
      align-items: center;
      background-color: $grayish-blue;
      display: flex;
      height: calc(100% - 50px);
      justify-content: center;
      left: 5px;
      position: absolute;
      top: 5px;
      width: calc(100% - 10px);

      img {
        max-width: 50px;
      }
    }

    .title {
      background-color: $grayish-blue;
      border-radius: 1px;
      display: block;
      height: 20px;
      margin:5px 0 5px 20px;
      width: 50%;
    }

    .column {
      width: 24%;
    }
  }
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;

  .pagination {
    align-items: center;
    display: flex;

    button {
      align-items: center;
      background-color: $turquoise-blue;
      border: none;
      border-radius: 5px;
      display: flex;
      height: 52px;
      justify-content: center;
      width: 52px;
    }

    input {
      border: $light-periwinkle;
      border-radius: 6px;
      color: $slate;
      height: 52px;
      margin: 0 6px;
      padding-left: 10px;
      text-align: center;
      width: 72px;
    }

    span {
      margin-right: 15px;
    }

    .backArrow,
    .nextArrow {
      background-color: $white;
      border-radius: 4px;
      display: block;
      height: 2px;
      margin: 0 auto;
      position: relative;
      width: 15px;

      &:before,
      &:after {
        background-color: $white;
        border-radius: 4px;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 8px;
      }

      &:before {
        bottom: 100%;
      }

      &:after {
        top: 100%;
      }
    }

    .backArrow {
      &:before,
      &:after {
        left: -2px;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    .nextArrow {
      &:before,
      &:after {
        right: -2px;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  .upButton {
    align-items: center;
    background-color: $white;
    border: 1px solid $light-periwinkle;
    border-radius: 5px;
    display: flex;
    height: 52px;
    justify-content: center;
    width: 52px;

    .upArrow {
      background-color: $blue-gray;
      border-radius: 4px;
      display: block;
      height: 15px;
      margin: 0 auto;
      position: relative;
      width: 2px;

      &:before,
      &:after {
        background-color: $blue-gray;
        border-radius: 4px;
        content: '';
        display: block;
        height: 8px;
        position: absolute;
        top: -2px;
        width: 2px;
      }

      &:before {
        right: 100%;
        transform: rotate(45deg);
      }

      &:after {
        left: 100%;
        transform: rotate(-45deg);
      }
    }
  }
}

.checks {
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;

  & > div {
    align-items: center;
    display: flex;
    min-height: 30px;
  }

  .checkGroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &>div {
      margin: 0;
      width: 33.3%;
    }
  }

  label {
    white-space: nowrap;
  }
}

.filterActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;

  .clearAttendancesFilters {
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    padding: 0;
    text-decoration: underline;
    user-select: none;
    vertical-align: middle;
    background: none;
  }

  .showPrints {
    border-radius: 50px;
    padding: 5px 15px;
  }
}
